swagger: "2.0"
info:
  version: "0.0.1"
  title: "My Home"
  description: |
    # Authorization
    For authorization you should add next header to your request `Authorization: Bearer $token` where `$token` is accsess JWT token which should be received from `signin` or `signup` or `refresh` endpoints.
    Every accsess JWT token has expiration date. When token expires, you should refresh it with `refresh_token` using `refresh` endpoint. `refresh_token` you will receive alongside with accsess token.
    JWT token has next payload:
    ```
    {
      "expiration_date": number, # unix timestamp
      "user_id": number,
      "user_type_mask": number, # see user object
      "user_flags_mask": number, # see user object
      "can_restore_password": boolean
     }
    ```
host: "api-myhome.mocstage.com"
#host: "127.0.0.1:8080"
basePath: "/api/v3"
schemes:
  - https
#  - http

securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header

paths:
  /signin/admin:
    post:
      tags:
        - sign in & sign up
      summary: Sign in and receive token.
      consumes:
        - application/json
      parameters:
        - in: body
          name: creds
          description: Credentials for sign-in.
          schema:
            type: object
            required:
              - phone_number
              - password
            properties:
              phone_number:
                type: string
              password:
                type: string
              locale:
                type: string
              remember_me:
                type: string
                description: "Set if need remember on this pc on the month. It's same what is token basic"
      responses:
        200:
          description: successful operation
          schema:
            allOf:
              - $ref: '#/definitions/Token'
            properties:
              qrcode:
                type: string
                required: false
                description: qrcode Base64
              type:
                type: string
                required: true
                description: "Can be 'jwt' or 'basic'"

  /signin/admin/code:
    post:
      tags:
        - sign in & sign up
      summary: Sign in and receive secret code to confirm.
      consumes:
        - application/json
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
          description: "Basic token auth. Example: Basic <token> "
        - in: body
          name: code
          type: object
          schema:
            properties:
              code:
                type: string
          description: "Set if need remember on this pc on the month"
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Token'

  /signin/client:
    post:
      tags:
        - sign in & sign up
      summary: Sign in and receive token.
      consumes:
        - application/json
      parameters:
        - in: body
          name: creds
          description: Credentials for sign-in.
          schema:
            type: object
            required:
              - phone_number
              - password
            properties:
              phone_number:
                type: string
              password:
                type: string
              apns_token:
                type: string
              firebase_token:
                type: string
              locale:
                type: string
              device_type:
                type: "integer"
                format: "int8"
                enum:
                - 2 # android
                - 1 # ios
                default: 1 # =)
                description: 1 - ios, 2 - android
              timezone:
                type: "string"
                description: timezone
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Token'

  /signin/technician:
    post:
      tags:
        - sign in & sign up
      summary: Sign in and receive token.
      consumes:
        - application/json
      parameters:
        - in: body
          name: creds
          description: Credentials for sign-in.
          schema:
            type: object
            required:
              - phone_number
              - password
            properties:
              phone_number:
                type: string
              password:
                type: string
              apns_token:
                type: string
              firebase_token:
                type: string
              locale:
                type: string
              device_type:
                type: "integer"
                format: "int8"
                enum:
                - 2 # android
                - 1 # ios
                default: 1 # =)
                description: 1 - ios, 2 - android
              timezone:
                  type: "string"
                  description: time zone
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Token'

  /signup/client:
    post:
      tags:
        - sign in & sign up
      summary: Creates new user.
      consumes:
        - application/json
      parameters:
        - in: body
          name: creds
          description: Credentials for sign-in.
          schema:
            $ref: '#/definitions/ClientSignUpParams'

      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/User'

  /signup/technician:
    post:
      tags:
        - sign in & sign up
      summary: Creates new user.
      consumes:
        - application/json
      parameters:
        - in: query
          name: resource_bytes_count
          type: integer
          format: int64
          description: "Send when attached avatar"
          required: false
        - in: body
          name: creds
          description: Credentials for sign-in.
          schema:
            $ref: '#/definitions/TechnicianSignUpParams'
      responses:
        200:
          description: successful operation
          schema:
            allOf:
              - $ref: '#/definitions/Token'
            properties:
              upload_signed_url:
                type: string
                required: false
                description: "If attached avatar"

  /signup/invite/{code}:
    get:
      tags:
        - sign in & sign up
      consumes:
        - application/json
      summary: Receive user info by invite code
      parameters:
        - in: path
          name:  code
          description: "code"
          required: true
          type: string
      responses:
        200:
          description: "successful operation"
          schema:
            allOf:
              - $ref: '#/definitions/User'
            properties:
              company:
                $ref: '#/definitions/Company'
              services:
                type: array
                items:
                  $ref: '#/definitions/Service'

  /signup/company/admin/invite/{code}:
    post:
      tags:
        - sign in & sign up
      consumes:
        - application/json
      summary: Continue create new company admin
      parameters:
        - in: path
          name:  code
          description: "code"
          required: true
          type: string
        - in: body
          name: data
          schema:
            $ref: '#/definitions/CompanyAdminConfirmParams'
      responses:
        202:
          description: "successful operation"

  /signup/company/technician/invite/{code}:
    post:
      tags:
        - sign in & sign up
      consumes:
        - application/json
      summary: Continue create new company technician
      parameters:
        - in: path
          name:  code
          description: "code"
          required: true
          type: string
        - in: body
          name: data
          schema:
            $ref: '#/definitions/CompanyTechnicianConfirmParams'
      responses:
        202:
          description: "successful operation"

  /signup/resend/invite/{phone}:
    get:
      tags:
        - sign in & sign up
      consumes:
        - application/json
      summary: Resend invite code
      parameters:
        - in: path
          name:  phone
          description: "phone"
          required: true
          type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/User'

  /signin/admin/recovery/{phone}:
    get:
      tags:
        - sign in & sign up
      consumes:
        - application/json
      summary: Login recovery for admin
      parameters:
       - in: path
         name: phone
         type: string
         required: true
      responses:
        200:
          description: "successful operation"

  /signin/admin/recovery/{code}:
    patch:
      tags:
        - sign in & sign up
      consumes:
        - application/json
      summary: Login recovery for admin
      parameters:
       - in: path
         name: code
         type: string
         required: true
      responses:
        200:
          description: "successful operation"


#  /signin/resend/code:
#    get:
#      tags:
#        - sign in & sign up
#      consumes:
#        - application/json
#      summary: Resend sms code
#      parameters:
#       - in: header
#         name: Authorization
#         type: string
#         required: true
#         description: "Basic token auth. Example: Basic <token> "
#      responses:
#        200:
#          description: "successful operation"

###### Company start ##########
  /companies:
    get:
      tags:
        - company
      security:
        - Bearer: []
      summary: Receive companies with id.
      consumes:
        - application/json
      parameters:
        - name: "status"
          in: "query"
          type: integer
          format: int32
          required: false
          description: "Returns only companies by status. Can be used with other filters. status : 0 - Unactivate, 1 - Activate"
        - name: "phone_number"
          in: "query"
          description: "Search by phone number. Can't be used with other filters"
          required: false
          type: "string"
        - name: "full_name"
          in: "query"
          description: "Search by full name. Can't be used with other filters"
          required: false
          type: "string"
        - name: "registration_number"
          in: "query"
          description: "Search by registration number. Can't be used with other filters"
          required: false
          type: "string"
        - name: "contact_name"
          in: "query"
          description: "Search by contact name. Can't be used with other filters"
          required: false
          type: "string"
        - name: "email"
          in: "query"
          description: "Search by email. Can't be used with other filters"
          required: false
          type: "string"
        - name: "company_id"
          in: "query"
          description: "Search by company id. Can't be used with other filters"
          required: false
          type: "integer"
          format: "int64"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/CompanyCollection'
    post:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Create new company
      parameters:
        - in: body
          name: data
          schema:
            $ref: '#/definitions/CompanyCommand'
      responses:
        201:
          description: Company created
          schema:
            $ref: '#/definitions/Company'

  /companies/{companyId}:
    get:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Get company by id
      parameters:
        - name: "companyId"
          in: path
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            allOf:
              - $ref: "#/definitions/Company"
              - type: object
                properties:
                  rating:
                    type: integer
                    format: int64
                  debt_from_company_to_myhome:
                    type: integer
                    format: int64
                  debt_from_myhome_to_company:
                    type: integer
                    format: int64
                  total_jobs:
                    type: integer
                    format: int64
                  total_technician:
                    type: integer
                    format: int64
    patch:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Update company
      parameters:
        - in: path
          name: "companyId"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: data
          schema:
            $ref: "#/definitions/CompanyCommand"
      responses:
        202:
          description: "Accepted update"
          schema:
            $ref: '#/definitions/Company'

  /companies/{companyId}/commission:
    get:
      tags:
        - company
      security:
        - Bearer: []
      summary: Returns commission for company.
      consumes:
        - application/json
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Commission'

    patch:
      tags:
        - company
      security:
        - Bearer: []
      summary: Updates commission for company.
      consumes:
        - application/json
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: commission object
          schema:
            $ref: '#/definitions/Commission'
      responses:
        202:
          description: "successful operation"

  /companies/{companyId}/services:
    get:
      tags:
        - company
      security:
        - Bearer: []
      summary: Returns services that related to company.
      consumes:
        - application/json
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ServiceCollection'

  /companies/{companyId}/jobs:
    get:
      tags:
        - company
      security:
        - Bearer: []
      summary: Returns jobs that related to company.
      consumes:
        - application/json
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
        - name: "sort_by"
          in: "query"
          description: "Sorting jobs by create date. 0 - newest, 1 - oldest"
          required: false
          type: "integer"
          format: "int32"
        - name: "phone"
          in: query
          required: false
          description: "Search jobs by phone"
        - name: "job_id"
          in: "query"
          description: "Search by job id. Can't be used with other filters"
          required: false
          type: "integer"
          format: "int64"
        - name: status
          in: "query"
          type: integer
          format: int32
          required: false
          description: "Filtering job by the status. Status assigned = 104 and status no assigned = 103"
        - name: payment_status
          in: "query"
          type: string
          description:   "Filtering job by the payment status. Status may be `paid` or `refunded`"
        - name: services
          in: "query"
          type: integer
          format: int32
          required: false
          description: "Filtering job by the services."
        - name: scheduled_from
          in: "query"
          type: integer
          format: uint64
          required: false
          description: "Filtering job by the date from."
        - name: scheduled_to
          in: "query"
          type: integer
          format: uint64
          required: false
          description: "Filtering job by the date to."
        - name: active_job
          in: "query"
          type: boolean
          required: false
          description: "Filtering job by active."
        - name: completed_job
          in: "query"
          type: boolean
          required: false
          description: "Filtering job by completed."
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/JobsCollection'

  /companies/{companyId}/jobs/{jobId}/edit:
    patch:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Edit job.
      parameters:
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: Job
          description: Job object.
          schema:
            type: object
            properties:
              assigned_technician_id:
                type: integer
                format: uint64
                description: assigned technician id
              status:
                type: integer
                format: uint64
                description: job status
              scheduled_date:
                type: integer
                format: uint64
                description: Unix timestamp
              note:
                type: string
                description: comment
              version:
                type: integer
                format: uint64
                description: document version

      responses:
        200:
          description: "successful operation"
          schema:
            allOf:
              - $ref: '#/definitions/Job'
            properties:
              version:
                type: "integer"
                format: "int64"

  /companies/{companyId}/invoices:
    get:
      tags:
        - company
      security:
        - Bearer: []
      summary: Returns list of invoices for company. Used by global admin.
      consumes:
        - application/json
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/InvoicesCollection'

  /companies/{companyId}/activate:
    patch:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Update company
      parameters:
        - in: path
          name: "companyId"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
      responses:
        202:
          description: "Accepted update"

  /companies/{companyId}/inactivate:
    patch:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Update company
      parameters:
        - in: path
          name: "companyId"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
      responses:
        202:
          description: "Accepted update"

  /companies/{companyId}/admins:
    get:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Receive company admins
      parameters:
        - in: path
          name:  companyId
          description: "ID of company"
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/UsersCollection'

    post:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Create comoany admin
      parameters:
        - in: path
          name:  companyId
          description: "ID of company"
          required: true
          type: integer
          format: int64
        - in: body
          name: data
          schema:
            $ref: '#/definitions/CompanyUserCreateParams'
      responses:
        201:
          description: Created

  /companies/{companyId}/admins/{userId}:
    get:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Receive company admin by id
      parameters:
        - in: path
          name:  companyId
          description: "ID of company"
          required: true
          type: integer
          format: int64
        - in: path
          name:  userId
          description: "ID of user"
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/User'

    delete:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Delete company admin by id
      parameters:
        - in: path
          name:  companyId
          description: "ID of company"
          required: true
          type: integer
          format: int64
        - in: path
          name:  userId
          description: "ID of user"
          required: true
          type: integer
          format: int64
      responses:
        204:
          description: "successful operation"

  /companies/{companyId}/technicians:
    get:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Receive company technicians
      parameters:
          - in: path
            name:  companyId
            description: "ID of company"
            required: true
            type: integer
            format: int64
          - in: query
            name: "sort_by"
            description: "Sorting technicians by create date. 0 - newest, 1 - oldest"
            required: false
            type: "integer"
            format: "int32"
          - name: job_id
            in: query
            description: "Get technicians who can make this job"
            required: false
            type: "integer"
            format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/UsersCollection'

    post:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Create new company technician
      parameters:
        - in: path
          name:  companyId
          description: "ID of company"
          required: true
          type: integer
          format: int64
        - in: body
          name: data
          schema:
            type: object
            required:
              - email
              - phone_number
            properties:
              email:
                type: "string"
              phone_number:
                type: "string"
      responses:
        201:
          description: Created

  /companies/{companyId}/technicians/{userId}:
    get:
      tags:
        - company
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Receive  company technician by id
      parameters:
        - in: path
          name:  companyId
          description: "ID of company"
          required: true
          type: integer
          format: int64
        - in: path
          name:  userId
          description: "ID of user"
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/User'

  /companies/{companyId}/technicians/{userId}/invoices:
    get:
      tags:
        - company
      security:
        - Bearer: []
      summary: Returns list of invoices for user. Used by admin.
      consumes:
        - application/json
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/InvoicesCollection'

  /companies/{companyId}/technicians/{userId}/jobs:
    get:
      tags:
        - company
      security:
        - Bearer: []
      summary: Returns jobs that related to user.
      consumes:
        - application/json
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/JobsCollection'

  /companies/{companyId}/jobs/{jobId}/invoices/final:
    get:
      tags:
        - company
      security:
      - Bearer: []
      summary: Returns final invoice for company admin.
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/JobsFinalInvoice'

  /companies/{companyId}/requests:
    get:
      tags:
        - company
      security:
      - Bearer: []
      summary: Receive requests list. Company admin area.
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/RequestAdminCollection'

  /companies/{companyId}/requests/approve/{id}:
    post:
      tags:
        - company
      security:
      - Bearer: []
      summary: Approve technician request. Company admin area.
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"

  /companies/{companyId}/requests/decline/{id}:
    post:
      tags:
        - company
      security:
      - Bearer: []
      summary: Decline technician request. Company admin area.
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of company"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
#    delete:
#      tags:
#        - company
#      security:
#        - Bearer: []
#      consumes:
#        - application/json
#      summary: Delete company technician by id
#      parameters:
#        - in: path
#          name:  companyId
#          description: "ID of company"
#          required: true
#          type: integer
#          format: int64
#        - in: path
#          name:  userId
#          description: "ID of user"
#          required: true
#          type: integer
#          format: int64
#      responses:
#        204:
#          description: "successful operation"

######## Company End ############

  /users/{userId}:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Receive user with id.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - name: "with_requests"
          in: "path"
          description: "1 - return user with requests"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"

    patch:
      tags:
        - user
      security:
        - Bearer: []
      summary: Updates user. Also used to create service and profile update requests.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: creds
          description: Credentials for sign-in.
          schema:
            type: "object"
            properties:
              avatar_url:
                type: string
              full_name:
                type: string
              email:
                type: string
              address:
                $ref: "#/definitions/Address"
              company:
                $ref: "#/definitions/CompanyUnit"
              requests:
                $ref: "#/definitions/RequestCollection"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"

  /users/{userId}/profile:
    delete:
      tags:
        - user
      security:
        - Bearer: []
      summary: Delete user profile.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: creds
          type: object
          schema:
            properties:
              password:
                type: string
                required: true
      responses:
        202:
          description: "successful operation"

    patch:
      tags:
        - user
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Update user profile by admin
      parameters:
        - in: path
          name: "userId"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: data
          schema:
            $ref: "#/definitions/UserForAdmin"
      responses:
        202:
          description: "Accepted update"
          schema:
            $ref: "#/definitions/UserForAdminResponse"

  /users/{userId}/export:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Send to email a user profile data.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: creds
          type: object
          schema:
            properties:
              email:
                type: string
                required: true
              password:
                type: string
                required: true
      responses:
        202:
          description: "successful operation"

  /users/{userId}/password/update:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Updates user password.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: passwords
          required: true
          description: Old and new passwords.
          schema:
            type: "object"
            required:
              - old_password
              - new_password
            properties:
              old_password:
                type: string
              new_password:
                type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"

  /users/{userId}/password/restore:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Restores user password.
      description: Requires token with restore rights. You can get it from `/users/verification/phone/{phone}/code/{code}/restore` endpoint.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: password
          required: true
          description: New password.
          schema:
            type: "object"
            required:
              - new_password
            properties:
              new_password:
                type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"

  /users/{userId}/services/update:
    patch:
      tags:
        - user
      security:
        - Bearer: []
      summary: Update user services.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: services
          required: true
          description: Services id.
          schema:
            type: "object"
            required:
              - services_id
            properties:
              services_id:
                type: "array"
                items:
                  type: integer
                  format: int64
      responses:
        200:
          description: "successful operation"

  /users/{userId}/locale/update:
    patch:
      tags:
        - user
      security:
        - Bearer: []
      summary: Update user's device locale.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: data
          required: true
          description: Locale and faerbase token.
          schema:
            type: "object"
            required:
              - locale
              - firebase_token
            properties:
              locale:
                type: string
                enum:
                  - en
                  - ar
              firebase_token:
                type: string
      responses:
        200:
          description: "successful operation"

  /users/{userId}/notifications/tokens/update:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Updates users notifiaction token(s).
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: tokens
          description: Tokens.
          required: true
          schema:
            type: object
            required:
              - firebase_token
              - device_type
            properties:
              apns_token:
                type: string
              firebase_token:
                type: string
              device_type:
                type: "integer"
                format: "int8"
                enum:
                - 2 # android
                - 1 # ios
                default: 1 # =)
                description: 1 - ios, 2 - android
              timezone:
                type: "string"
                description: time zone
      responses:
        200:
          description: "successful operation"

  /users/{userId}/notifications/tokens:
    delete:
      tags:
        - user
      security:
        - Bearer: []
      summary: Deletes users notifiaction token with given firebase token.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: firebase_token
          required: true
          description: Firebase token.
          schema:
            type: "object"
            required:
              - firebase_token
            properties:
              firebase_token:
                type: string
      responses:
        200:
          description: "successful operation"


  /users/{userId}/notifications/counters:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Returns counters for notifications.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: object
            properties:
              personal_jobs_counter:
                type: integer
                format: int64
              technician_new_jobs:
                type: integer
                format: int64

  /users/{userId}/notifications/counters/reset/personal:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Resets personal notifications counter.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: object
            properties:
              personal_jobs_counter:
                type: integer
                format: int64
              technician_new_jobs:
                type: integer
                format: int64

  /users/{userId}/notifications/counters/reset/technician:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Resets technician notifications counter.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: object
            properties:
              personal_jobs_counter:
                type: integer
                format: int64
              technician_new_jobs:
                type: integer
                format: int64

  /users/{userId}/notifications/technician/online:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Marks technician as online.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUser'

  /users/{userId}/notifications/technician/offline:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Marks technician as offline.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUser'

  /users/{userId}/client:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Receive client with id.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"

  /users/{userId}/technician:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Receive technician with id.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUser'

  /users/{userId}/technician/speciality:
    patch:
      tags:
        - user
      security:
        - Bearer: []
      summary: Receive technician with id.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: speciality
          schema:
            $ref: '#/definitions/TechnicianServicesSpeciality'

      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUserByAdmin'

  /users/{userId}/client/admin:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Receive client with id for admin area.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            allOf:
              - $ref: '#/definitions/User'
            properties:
              commercial_subscribe:
                type: integer

  /users/{userId}/technician/admin:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Receive technician with id for admin area.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/TechnicianUserByAdmin'
            properties:
              commercial_subscribe:
                type: integer

  /users/{userId}/client/invoices:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Returns list of invoices for user. Used by admin.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
        - name: "job_id"
          in: "query"
          description: "job id"
          required: false
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/InvoicesCollection'

  /users/{userId}/technician/invoices:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Returns list of invoices for user. Used by admin.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
        - name: "job_id"
          in: "query"
          description: "job id"
          required: false
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/InvoicesCollection'

  /users/{userId}/technician/commission:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Returns commission for technician.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Commission'
    patch:
      tags:
        - user
      security:
        - Bearer: []
      summary: Updates commission for technician.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: commission object
          schema:
            $ref: '#/definitions/Commission'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Commission'

  /users/{userId}/activate:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Activate user manually.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        204:
          description: "successful operation"

  /users/{userId}/technician/female_only:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Marks technician as "Able to Cater to Female Only Cleaning Requests".
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        202:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUser'

  /users/{userId}/technician/lock:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Marks technician as locked.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUser'

  /users/{userId}/technician/unlock:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Marks technician as unlocked.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUser'

  /users/{userId}/client/lock:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Marks client as locked.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ClientUser'

  /users/{userId}/client/unlock:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Marks client as unlocked.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ClientUser'


  /users/{userId}/technician/allow_multy_job:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Enable user to accept multiple jobs in the same time.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUser'

  /users/{userId}/technician/deny_multy_job:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Disable user to accept multiple jobs in the same time.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUser'

  /users/{userId}/technician/allow_accept_job:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Enable possibility for company technician to accept jobs.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUser'

  /users/{userId}/technician/deny_accept_job:
    post:
      tags:
        - user
      security:
        - Bearer: []
      summary: Disable possibility for company technician to accept jobs.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TechnicianUser'

  /users/{userId}/jobs:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Returns jobs that related to user.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/JobsCollection'

  /users/{userId}/technician/available:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: The technician available at scheduled date.
      consumes:
        - application/json
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of technician"
          required: true
          type: "integer"
          format: "int64"
        - name: "scheduled_date"
          in: "query"
          description: "job scheduled date"
          required: true
          type: integer
          format: uint64
      responses:
        200:
          description: "successful operation"
          schema:
            type: object
            properties:
              available:
                type: boolean

  /users:
    get:
      tags:
        - user
      security:
        - Bearer: []
      summary: Receive all users. Available only for admin.
      consumes:
        - application/json
      parameters:
        - name: "only_locked_technicians"
          in: "query"
          description: "Returns only locked technicians"
          required: false
          type: boolean
        - name: "only_locked_clients"
          in: "query"
          description: "Returns only locked clients"
          required: false
          type: boolean
        - name: "female_only"
          in: "query"
          description: "Returns only technicians with female_only flag"
          type: boolean
          required: false
        - name: user_type_flag
          in: "query"
          description: "Filter by user flags."
          required: false
          type: "integer"
          format: "int8"
        - name: "phone_number"
          in: "query"
          description: "Search by phone number. Can't be used with other filters"
          required: false
          type: "string"
        - name: "full_name"
          in: "query"
          description: "Search by full name. Can't be used with other filters"
          required: false
          type: "string"
        - name: "user_id"
          in: "query"
          description: "Search by user id. Can't be used with other filters"
          required: false
          type: "integer"
          format: "int64"
        - name: "with_debt_to_myhome"
          in: "query"
          description: "Returns technicians with debt to myhome"
          required: false
          type: boolean
        - name: "with_debt_to_technician"
          in: "query"
          description: "Returns technicians with debt from myhome"
          required: false
          type: boolean
        - name: "sort_by"
          in: "query"
          description: "Sorting jobs by create date. 0 - newest, 1 - oldest"
          required: false
          type: "integer"
          format: "int32"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/UsersCollection'

  /tokens/refresh:
    post:
      tags:
        - token
      summary: Resfresh token.
      consumes:
        - application/json
      parameters:
        - in: body
          name: refresh token
          description: Refresh token.
          schema:
            type: object
            required:
              - refresh_token
            properties:
              refresh_token:
                type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Token'


  /verification/user/{userId}/send/sms:
    post:
      tags:
        - verification
      security:
        - Bearer: []
      summary: Sends confirmation code via sms. Used for confirmation.
      description: Rate limit `30 secs`
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"


  /verification/phone/{phone}/send/sms:
    post:
      tags:
        - verification
      summary: Sends confirmation code via sms. Used for password restoring.
      description: Rate limit `60 secs`
      parameters:
        - name: "phone"
          in: "path"
          description: "phone number of user"
          required: true
          type: string
      responses:
        200:
          description: "successful operation"


  /verification/user/{userId}/code/{code}/activate:
    post:
      tags:
        - verification
      security:
        - Bearer: []
      summary: Checks confirmation code and activates account.
      description: Returns active token, which can be used in most endpoints.
      parameters:
        - name: "userId"
          in: "path"
          description: "ID of user"
          required: true
          type: "integer"
          format: "int64"
        - name: "code"
          in: "path"
          description: "Confirmation code"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Token'

  /verification/phone/{phone}/code/{code}/restore:
    post:
      tags:
        - verification
      summary: Checks confirmation code and returns token for password update.
      description: Returns token, which can be used only for password restoring endpoint. Token will expire after `15 minutes`.
      parameters:
        - name: "phone"
          in: "path"
          description: "Phone number of user"
          required: true
          type: "integer"
          format: "int64"
        - name: "code"
          in: "path"
          description: "Confirmation code"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Token'

  /services:
    get:
      tags:
        - service

      summary: Receive list of services.
      parameters:
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
        - name: "return_all_localization"
          in: query
          description: "It true, response will return all localization that we have. Used for admin panel."
          required: false
          type: boolean
          default: false
        - name: "return_only_disable"
          in: query
          description: "It true, response will return only all disable services. Used for admin panel."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ServiceCollection'

    put:
      tags:
        - service
      security:
        - Bearer: []
      summary: Creates new service. Admin area.
      parameters:
        - in: body
          name: service object
          schema:
            $ref: '#/definitions/Service'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Service'

  /services/{serviceId}:
    get:
      tags:
        - service
      summary: Receive service with ID.
      parameters:
        - name: "serviceId"
          in: "path"
          description: "ID of service"
          required: true
          type: "integer"
          format: "int64"
        - name: "return_all_localization"
          in: query
          description: "It true, response will return all localization that we have. Used for admin panel."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Service'

    patch:
      tags:
        - service
      security:
      - Bearer: []
      summary: Updates service with given ID. Admin area.
      parameters:
        - name: "serviceId"
          in: "path"
          description: "ID of service"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: service object
          schema:
            $ref: '#/definitions/Service'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Service'

    delete:
      tags:
        - service
      security:
      - Bearer: []
      summary: Deletes Service with given ID. Admin area.
      parameters:
        - name: "serviceId"
          in: "path"
          description: "ID of service"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"

  /services/{serviceId}/disable:
    post:
      tags:
        - service
      security:
      - Bearer: []
      summary: Disables Service with given ID. Admin area.
      parameters:
        - name: "serviceId"
          in: "path"
          description: "ID of service"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Service'

  /services/{serviceId}/enable:
    post:
      tags:
        - service
      security:
      - Bearer: []
      summary: Enamble Service with given ID. Admin area.
      parameters:
        - name: "serviceId"
          in: "path"
          description: "ID of service"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Service'

  /services/{serviceId}/units:
    get:
      tags:
        - service
      summary: Receive units for service.
      parameters:
        - name: "serviceId"
          in: "path"
          description: "ID of service"
          required: true
          type: "integer"
          format: "int64"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
        - name: "return_all_localization"
          in: query
          description: "It true, response will return all localization that we have. Used for admin panel."
          required: false
          type: boolean
          default: false
        - name: "return_only_disable"
          in: query
          description: "It true, response will return only all disable units. Used for admin panel."
          required: false
          type: boolean
          default: false
        - name: "nested_names"
          in: query
          description: "If true, response will return names of unit and service."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/UnitsCollection'

    put:
      tags:
        - service
      security:
        - Bearer: []
      summary: Creates new unit. Admin area.
      parameters:
        - name: "serviceId"
          in: "path"
          description: "ID of service"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: service object
          schema:
            $ref: '#/definitions/Unit'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Unit'

  /units:
    get:
      tags:
        - unit
      summary: Receive all units.
      parameters:
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
        - name: "return_all_localization"
          in: query
          description: "It true, response will return all localization that we have. Used for admin panel."
          required: false
          type: boolean
          default: false
        - name: "nested_names"
          in: query
          description: "If true, response will return names of service."
          required: false
          type: boolean
          default: false
        - name: "return_only_disable"
          in: query
          description: "It true, response will return only all disable units. Used for admin panel."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/UnitsCollection'


  /units/{unitId}:
    get:
      tags:
        - unit
      summary: Receive unit with ID.
      parameters:
        - name: "unitId"
          in: "path"
          description: "ID of unit"
          required: true
          type: "integer"
          format: "int64"
        - name: "return_all_localization"
          in: query
          description: "It true, response will return all localization that we have. Used for admin panel."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Unit'

    patch:
      tags:
        - unit
      security:
      - Bearer: []
      summary: Updates unit with given ID. Admin area.
      parameters:
        - name: "unitId"
          in: "path"
          description: "ID of unit"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: service object
          schema:
            $ref: '#/definitions/Unit'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Unit'

    delete:
      tags:
        - unit
      security:
      - Bearer: []
      summary: Deletes unit with given ID. Admin area.
      parameters:
        - name: "unitId"
          in: "path"
          description: "ID of unit"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"

  /units/{unitId}/disable:
    post:
      tags:
        - unit
      security:
      - Bearer: []
      summary: Disables Unit with given ID. Admin area.
      parameters:
        - name: "unitId"
          in: "path"
          description: "ID of unit"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Unit'

  /units/{unitId}/enable:
    post:
      tags:
        - unit
      security:
      - Bearer: []
      summary: Enable Unit with given ID. Admin area.
      parameters:
        - name: "unitId"
          in: "path"
          description: "ID of unit"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Unit'

  /units/{unitId}/issues:
    get:
      tags:
        - unit
      summary: Receive issues for unit.
      parameters:
        - name: "unitId"
          in: "path"
          description: "ID of unit"
          required: true
          type: "integer"
          format: "int64"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
        - name: "return_all_localization"
          in: query
          description: "It true, response will return all localization that we have. Used for admin panel."
          required: false
          type: boolean
          default: false
        - name: "return_only_disable"
          in: query
          description: "It true, response will return only all disable issues. Used for admin panel."
          required: false
          type: boolean
          default: false
        - name: "nested_names"
          in: query
          description: "If true, response will return names of unit and service."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/IssuesCollection'

    put:
      tags:
        - unit
      security:
        - Bearer: []
      summary: Creates new issue. Admin area.
      parameters:
        - name: "unitId"
          in: "path"
          description: "ID of unit"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: service object
          schema:
            $ref: '#/definitions/Issue'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Issue'

    patch:
      tags:
        - unit
      security:
        - Bearer: []
      summary: Update  a issue position. Admin area.
      parameters:
        - name: "unitId"
          in: "path"
          description: "ID of unit"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: service object
          required: true
          schema:
            type: "object"
            properties:
              positions:
                type: "array"
                items:
                  type: "object"
                  properties:
                    issue_id:
                      required: true
                      type: "integer"
                      format: "int64"
                    position:
                      required: true
                      type: "integer"
                      format: "int64"
      responses:
        204:
          description: "successful operation"

  /issues:
    get:
      tags:
        - issue
      summary: Receive all issues.
      parameters:
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
        - name: "return_all_localization"
          in: query
          description: "If true, response will return all localization that we have. Used for admin panel."
          required: false
          type: boolean
          default: false
        - name: "nested_names"
          in: query
          description: "If true, response will return names of unit and service."
          required: false
          type: boolean
          default: false
        - name: "return_only_disable"
          in: query
          description: "It true, response will return only all disable issues. Used for admin panel."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/IssuesCollection'

  /issues/{issueId}:
    get:
      tags:
        - issue
      summary: Receive issue with ID.
      parameters:
        - name: "issueId"
          in: "path"
          description: "ID of issue"
          required: true
          type: "integer"
          format: "int64"
        - name: "return_all_localization"
          in: query
          description: "It true, response will return all localization that we have. Used for admin panel."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Issue'

    patch:
      tags:
        - issue
      security:
      - Bearer: []
      summary: Updates unit with given ID. Admin area.
      parameters:
        - name: "issueId"
          in: "path"
          description: "ID of issue"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: service object
          schema:
            $ref: '#/definitions/Issue'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Issue'

    delete:
      tags:
        - issue
      security:
      - Bearer: []
      summary: Deletes issue with given ID. Admin area.
      parameters:
        - name: "issueId"
          in: "path"
          description: "ID of issue"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"

  /issues/{issueId}/disable:
    post:
      tags:
        - issue
      security:
      - Bearer: []
      summary: Disables Issue with given ID. Admin area.
      parameters:
        - name: "issueId"
          in: "path"
          description: "ID of issue"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Issue'

  /issues/{issueId}/enable:
    post:
      tags:
        - issue
      security:
      - Bearer: []
      summary: Enable Issue with given ID. Admin area.
      parameters:
        - name: "issueId"
          in: "path"
          description: "ID of issue"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Issue'

  /jobs_discount:
    put:
      tags:
        - job
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Creates new job.
      parameters:
        - in: body
          name: Job
          description: Job object.
          schema:
            type: object
            required:
              - service_id
              - note
              - address
              - issues
            properties:
              service_id:
                type: integer
                format: uint64
              scheduled_date:
                type: integer
                format: uint64
                description: |
                  Unix timestamp
                  If 0 or empty than job is needed ASAP and
                  when job will be created then asap == true.
              note:
                type: string
              image_urls:
                type: array
                items:
                  type: string
              address:
                $ref: '#/definitions/Address'
              issues:
                type: array
                items:
                  type: object
                  properties:
                    unit_id:
                      type: integer
                      format: uint64
                    issue_id:
                      type: integer
                      format: uint64
                    count:
                      type: integer
                      format: uint8
                    feature_configs:
                      type: array
                      items:
                        $ref: '#/definitions/FeatureConfig'
              discount_codes:
                type: array
                items:
                  type: string

      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/DiscountApiResponse'


  /jobs:
    get:
      tags:
        - job
      security:
      - Bearer: []
      summary: Receive all jobs.
      parameters:
        - name: "phone"
          in: query
          required: false
          description: "Search jobs by phone"
        - name: "sort_by"
          in: "query"
          description: "Sorting jobs by create date. 0 - newest, 1 - oldest"
          required: false
          type: "integer"
          format: "int32"
        - name: "job_id"
          in: "query"
          description: "Search by job id. Can't be used with other filters"
          required: false
          type: "integer"
          format: "int64"
        - name: status
          in: "query"
          type: integer
          format: int32
          required: false
          description: "Filtering job by the status."
        - name: payment_status
          in: "query"
          type: string
          description:   "Filtering job by the payment status. Status may be `paid` or `refunded`"
        - name: services
          in: "query"
          type: integer
          format: int32
          required: false
          description: "Filtering job by the services."
        - name: scheduled_from
          in: "query"
          type: integer
          format: uint64
          required: false
          description: "Filtering job by the date from."
        - name: scheduled_to
          in: "query"
          type: integer
          format: uint64
          required: false
          description: "Filtering job by the date to."
        - name: active_job
          in: "query"
          type: boolean
          required: false
          description: "Filtering job by active."
        - name: completed_job
          in: "query"
          type: boolean
          required: false
          description: "Filtering job by completed."
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/JobsCollection'

    put:
      tags:
        - job
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Creates new job.
      parameters:
        - in: query
          name: favorites
          type: integer
          format: uint64
          description: Set technician id when job create with favorite technician
        - in: body
          name: Job
          description: Job object.
          schema:
            type: object
            required:
              - service_id
              - note
              - address
              - issues
            properties:
              service_id:
                type: integer
                format: uint64
              scheduled_date:
                type: integer
                format: uint64
                description: |
                  Unix timestamp
                  If 0 or empty than job is needed ASAP and
                  when job will be created then asap == true.
              note:
                type: string
              image_urls:
                type: array
                items:
                  type: string
              address:
                $ref: '#/definitions/Address'
              issues:
                type: array
                items:
                  type: object
                  properties:
                    unit_id:
                      type: integer
                      format: uint64
                    issue_id:
                      type: integer
                      format: uint64
                    count:
                      type: integer
                      format: uint8
                    feature_configs:
                      type: array
                      items:
                        $ref: '#/definitions/FeatureConfig'
              discount_codes:
                type: array
                items:
                  type: string

      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Job'

  /jobs/{jobId}:
    get:
      tags:
        - job
      security:
      - Bearer: []
      summary: Receive job with ID.
      parameters:
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"
#        - name: "with_time_zone"
#          in: query
#          required: false
#          type: boolean
#          description: "Return job with owner time zone"
      responses:
        200:
          description: "successful operation"
          schema:
            allOf:
              - $ref: '#/definitions/Job'
            properties:
              version:
                type: "integer"
                format: "int64"

    patch:
      tags:
        - job
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Updates job.
      parameters:
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: Job
          description: Job object.
          schema:
            type: object
            properties:
              scheduled_date:
                type: integer
                format: uint64
                description: Unix timestamp
              image_urls:
                type: array
                items:
                  type: string
      responses:
        200:
          description: "successful operation"
          schema:
            allOf:
              - $ref: '#/definitions/Job'
            properties:
              version:
                type: "integer"
                format: "int64"

  /jobs/{jobId}/edit:
    patch:
      tags:
        - job
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Edit job.
      parameters:
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: Job
          description: Job object.
          schema:
            type: object
            properties:
              assigned_technician_id:
                type: integer
                format: uint64
                description: assigned technician id
              status:
                type: integer
                format: uint64
                description: job status
              scheduled_date:
                type: integer
                format: uint64
                description: Unix timestamp
              note:
                type: string
                description: comment
              female_only:
                type: boolean
                description: Female only
              version:
                type: integer
                format: uint64
                description: document version

      responses:
        200:
          description: "successful operation"
          schema:
            allOf:
              - $ref: '#/definitions/Job'
            properties:
              version:
                type: "integer"
                format: "int64"

  /jobs/{jobId}/edit/technicians:
    get:
      tags:
        - job
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Get likely technicians for job.
      parameters:
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"
        - name: "female_only"
          in: "query"
          description: "Returns female only technicians"
          required: false
          type: boolean
      responses:
        200:
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: '#/definitions/User'

  /jobs/{jobId}/mark/test:
    patch:
      tags:
        - job
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Mark job as test.
      parameters:
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"

      responses:
        200:
          description: "successful operation"


  /jobs/{jobId}/invoices/final:
    get:
      tags:
        - job
      security:
      - Bearer: []
      summary: Returns final invoice for admin.
      parameters:
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/JobsFinalInvoice'

  /jobs/{jobId}/fees:
    get:
      tags:
        - job
      security:
      - Bearer: []
      summary: List of fees for job.
      parameters:
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"
        - name: "page"
          in: "query"
          description: "Page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_per_page"
          in: "query"
          description: "Items per page for pagination"
          required: false
          type: "integer"
          format: "int64"
        - name: "items_after"
          in: "query"
          description: "Returns items after id which will be specified here"
          required: false
          type: "integer"
          format: "int64"
        - name: "pagination_type"
          in: query
          description: "Type of pagination. Supports `scroll` and `pages`. PAGES SHOULD BE USED ONLY FOR ADMIN PANEL."
          required: false
          type: string
          default: scroll
          enum:
            - scroll
            - pages
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/JobFeesCollection'

    put:
      tags:
        - job
      security:
      - Bearer: []
      summary: Add fee to job. Used by technician.
      parameters:
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"
        - in: body
          name: fee
          description: Fee object.
          schema:
            $ref: '#/definitions/JobsFee'

      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/JobsFee'

  /jobs/{jobId}/client/cancel:
    post:
      tags:
        - job
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Cancel job. Used by client.
      description: 'If canceled by technician, then status will be changed to "available" for other technicians. If canceled by user, then job will be deleted.'
      parameters:
        - name: "jobId"
          in: "path"
          description: "ID of job"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/Job'

  /jobs/{jobId}/client/post:
    post:
      tags:
        - job
      security:
        - Bearer: []
      consumes:
        - application/json
      summary: Post job. Used by client.
[...]
